.red-blue {
    color: blue;
    display: inline-block;
    text-decoration: none;
}
.red-blue:hover {
    color: blue;
    text-decoration: blue double;
    transform: translateY(-10px);
}
.red-blue:active {
    color: blue;
}


.red {
    color: red;
    display: inline-block;
}
.red:hover {
    color: blue;
    text-decoration: blue double;
}
.red:active {
    color: red;
    text-decoration: red;
}


.gray {
    color: gray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}