#body {
    background-color: orangered;
}
abbr {
    text-decoration: none;
}
#madeWith {
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    color: red;
}
#madeWith p {
    font-size: x-large;
}